.icon {
  position: relative;
  background: #9e9b9b;
  color: #1f1d1d;
  font-family: Arial;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 0px 10px 10px 10px;
  padding: 0px;
}
.icon:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 6px 0 0 20px;
  border-color: transparent transparent transparent #9e9b9b;
  top: -6px;
  left: 4%;
  margin-left: -10px;
}

.icon img {
  position: absolute;
  top: 25%;
  left: 5px;
}

.text {
  font-size: 1rem;
  display: inline;
  position: absolute;
  left: 25%;
}
.temp {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.city_desc {
  position: absolute;
  display: flex;
  top: 2.5rem;
  flex-direction: column;
  left: 50px;
  margin-left: 1rem;
}

.desc {
  line-height: 1rem;
}

.city {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

